th {
  padding: 25px 0px;
  text-align: left;
}

td {
  padding: 18px 0px;
  background-color: #DDDD;
}

.firstColumn {
  padding-left: 10px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

table, th, td {
  color: #627254;
  font-size: 20px;
}

table {
  width: 100%;
}

.bin {
  color: #8f0000;
  font-weight: 700;
  font-size: 24px;
  border: none;
  background-color: #8f000024;
  display: block;
  width: 50px;
  height: 40px;
  margin: auto;
  margin-left: 15px;
  margin-top: 8px;
  border-radius: 5px;
}

.stability {
  color: #e6a21c;
  width: 110px;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

.decrease {
    color: #007a0a;
    width: 110px;
}

.increase {
  color: #8f0000;
  width: 110px;
}

.pastForecasts {
  flex-direction: column;
  margin-left: 160px;
  margin-right: 160px;
  padding: 20px;
}

.pageName {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 32px;
  color: #627254;
}

.forecastList {
  list-style: none;
  padding: 0;
  margin: 0;
}

.forecastItem {
  display: flex;
  align-items: center;
  margin-bottom: 20px;

  img {
    margin-right: 15px;
    width: 60px;
    height: 60px;
  }
}

.forecastDetails {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.countryName {
  font-size: 22px;
  font-weight: bold;
  margin: 0;
  color: #76885B;
}

.forecastInfo {
  font-size: 18px;
  margin: 5px 0 0;
  font-weight: normal;
  color: #666;
}

.noHistoryMessage {
  font-size: 20px;
  color: #627254;
  text-align: center;
  margin-top: 20px;
}
